/* -------1920--------- */

@media only screen and (min-width:1920px){

	.container-fluid{
		width: 1900px;
	}
}







@media only screen and (max-width:767px){
  .sec-main-head h3 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 32px;
    padding: 20px 0px 0px 0px;
  }
  .sec-btn {
    padding: 40px 0px 0px 0px;
}
  .sec-space-left-right {
    padding: 0px 10px;
}
.sec-call-btn2 {
  background: #FF3A3A;
  padding: 10px 15px 10px 15px;
  font-size: 9px;
}
.sec-dixp-head{
  display: none;
}
  .sec-you-h {
    color: #000;
    font-family: 'Inter';
    font-size: 25px;
    padding-top: 20px;

  }
  .sec-padd-all {
    padding: 30px 0px;
  }
  .two-sec-img {
    margin-top: 20px;
}
.secvid-vid {
  margin: auto;
  padding: 20px 0px;
}
.sec-soft-hb {
  font-size: 20px;
}
.sec-blobb {
  font-size: 16px;
  line-height: 27.5px;
}
  .sec-gall-main-n {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
  }
  .sec-logo-img{
    width: 100%;
  }
  .img-comp-img.img-comp-overlay{
    width: 138px !important;
  }
  .img-comp-slider {
    top: 70px !important;
        left: 115px !important;
    }
    .sec-a-b-img {
      width: 270px;
      height: 190px;
    }
    .sec-serv-bg {
      margin-bottom: -48px;
      padding-bottom: 83px;
      padding-right: 0px;
      padding-left: 0px;
  }
  .sec-merg-pad {
    padding: 255px 0px 0px 0px;
}
.sec-mar-mee {
  margin-top: 0px !important;
}
.sec-man-img {
  width: 100%;
  text-align: center;
  margin: auto;
}
.sec-hellop-p {
  font-size: 20px;
  padding-top: 50px;
}
.sec-man-hh {
  font-size: 30px;
}
.sec-maan-pp {
  font-size: 18px;
  line-height: 28px;
}
.sec-count-bgg {
  height: auto;
}
.count-title {
  font-size: 40px;
  text-align: center;
}
.count-text{
  text-align: center;
}
.sec-recv-padd {
  padding: 0px 0px;
}
.secsuvb-bg {
  padding: 10px;
  margin: 0px 12px;
}
.sec-sub-h {
  font-size: 27px;
  text-align: center;
}
br {
  display: none;
}
.sec-sub-p {
  font-size: 16px;
  text-align: center;
}
input#exampleInputEmail1 {
  height: 45px;
}
.secsub-ntn {
  height: 45px;
  width: 55px;
  margin-left: 150px;
  margin-top: -72px;
}
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }